
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700;800&family=Raleway:wght@700;800;900&display=swap');

html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;}

body {
	line-height: 1;
}

ul {
    list-style: disc;
    padding-left: 1em;
}

ul li {
        padding-left: 0.5em;
    }

ol, ul {
	list-style: none;
}

p {
    display: block;
}

/* Basic */

	html {
		box-sizing: border-box;
	}

	body {
		background: #fff;
		color: #5b5b5b;
		font-size: 15pt;
		line-height: 1.85em;
		font-family: 'Arial';
		font-weight: 300;
	}
	

	h1, h2, h3, h4, h5, h6 {
		font-weight: 400;
		color: #483949;
		line-height: 1.25em;
	}

	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
		color: inherit;
		text-decoration: none;
		border-bottom-color: transparent;
	}

	a{
		text-decoration: none;
	}

	p, ul, ol, dl, table {
		margin-bottom: 1em;
	}

	p {
		text-align: left;
	}

	br.clear {
		clear: both;
	}

/* Container */

	.container{
		margin: 0 auto;
		max-width: 100%;
		width: 1400px;
	}

		@media screen and (max-width: 1680px) {

			.container {
				width: 1200px;
			}

		}

		@media screen and (max-width: 1280px) {

			.container {
				width: 100%;
			}

		}

.img-1{
    background-image: url(../images/bg-img.png);
    background-size: cover;
 }
.topnav {
	overflow: hidden;
	background-color: #333;
  }
  
  .topnav a {
	float: left;
	display: block;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  }
  
  .topnav a:hover {
	background-color: #ddd;
	color: black;
  }
  
  .topnav a.active {
	background-color: #aa6804;
	color: white;
  }
  
  .topnav .icon {
	display: none;
  }

  @media screen and (max-width: 736px) {
    .killen-head #nav {display:none;}
    #header h1 {
        font-size: 2.5em;
        text-align: center;
    }
    .topnav a:not(:first-child){display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
	.topnav.responsive {position: relative;}
	.topnav.responsive .icon {
	  position: absolute;
	  right: 0;
	  top: 0;
	}
	.topnav.responsive a {
	  float: none;
	  display: block;
	  text-align: left;
	}
    .serviceblock{
    padding-left: 0px!important;
	margin-left: 0px!important;
    padding-right: 0px!important;
    }
    .row > * {
        padding: 20px 0 0 20px!important;
    }

    .ftr{
        padding: 20px 0 0 0!important;
    }
  }
 
@media screen and (min-width: 737px)
{
	.topnav{display:none;}
	.reslogo{display:none;}
}

@media screen and (max-width: 960px) {
	button.slick-prev{display:none!important;}
	button.slick-next{display:none!important;}
    section#banner p{width: 75%!important;}
}

@media screen and (max-width: 1057px) {
#header .col-6 {
    width: 100%;
}
.img-1{display:none;}
}

@media screen and (max-width: 1280px)
{.ftr {
    padding-left: 2em;
    padding-right: 2em;
}
}

.locationdiv {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    display: inline-block;
}
.mapdiv {
    display: inline-block;
    padding-top: 40px;
}
.mapico {
    display: inline-block;
}
.mapico	img {
width: 15px;
}
.rateand-btn {
    display: inline-block;
    padding-top: 44px;
    width: 100%;
}
.ratedivtxt {
    display: inline-block;
    font-family: 'Abhaya Libre', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 60px;
    color: #766100;
    width: 30%;
    line-height: 68px;
}
.book-now {
    display: inline-block;
    text-align: right;
    width: 67%;
}
.book-now a {
    background: #090A16;
    display: inline-block;
    padding: 13px 29px;
    color: #C2A206;
}
.book-now a:hover {
    background: #C2A206;
    display: inline-block;
    padding: 13px 29px;
    color: #fff;
}
#header h1 {
			color: #282E3C;
			font-size:60px!important;
			line-height: 1.2em;
			font-weight: 400;
			text-transform: uppercase;
			font-family: 'Poppins', sans-serif;
		}

			#header h1 a {
				color: inherit;
			}

		#header .button {
			display: inline-block;
			border-radius: 100%;
			width: 4.5em;
			height: 4.5em;
			line-height: 4.5em;
			text-align: center;
			font-size: 1.25em;
			padding: 0;
		}
		.home-head {
    	  padding: 40px 40px 10px 40px;   
          margin-left: 80px;
          margin-bottom: 80px;
}
span.change-color {
    color: #C2A206;
}
.home-head p {
    font-family: arial;
    width: 80%;
    margin-top: 20px;
}
.icon1 {
    display: inline-block;
    margin-bottom: 20px;
}
.serviceblock{
	display: inline-block;
	text-align: center;
	padding-left: 25px;
	margin-left: 50px;
    padding-right: 25px;
	padding-bottom: 100px;
}
.serviceblock h2{
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 68px;
    text-transform: uppercase;
    color: #090A16;
    margin-top: 100px;
    margin-bottom: 25px;
}
.icodivmain {
    text-align: left;
    display: inline-block;
}
.subhead{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	display: inline-block;
	width: 100%;
	padding-bottom: 15px;
}
.subpara{
	text-align: left;
    display: inline-block;
    width: 100%;
}
.subpara p{
	font-family: 'Arial';
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	text-align: left;
	line-height: 32px;
}
section.lodges {
   		 background: url(../images/bg-img1.png);
    	background-size: cover;
    	background-repeat: no-repeat;
}
section.rose {
		background: url(../images/bg-img2.png);
		background-size: cover;
		margin-bottom: 0;
		padding-top: 50px;
		padding-bottom: 10px;
		background-repeat: no-repeat;
}
section.summer {
		background: url(../images/bg-img3.png);
		padding-top: 50px;
		padding-bottom: 10px;
		background-size: cover;
		background-repeat: no-repeat;
	}
.boxdiv {
    display: inline-block;
    background: #fff;
    padding:60px;
    margin-top: 45px;
    margin-bottom: 80px;
    width: 100%;
}
.boxdiv h3{
	font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    padding-bottom: 10px;
    text-transform: uppercase;
    color: #090A16;
}
.boxdiv p{
	font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    text-align: left;
    color: #282E3C;
}
.boxdiv a {
    background: #c2a206;
    padding: 20px 85px;
    margin-top: 25px;
    display: inline-block;
    color: #fff;
}
.boxdiv a:hover {
    background: #090A16;
    padding: 20px 85px;
    margin-top: 25px;
    display: inline-block;
    color: #fff;
}

.killen-head{
	height: 100%!important;;
}
#header h1 {
    color: #282E3C;
    font-size: 33px!important;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.home-head {
    display: inline-block;
    padding: 45px;
    width: 100%;
    margin-left: 0;
    padding-top: 30px;
}
.serviceblock h2{
	line-height: 40px!important;
}
.serviceblock .col-4 {
    width: 100%;
    margin: 15px;
}
.lodges .col-6 {
    width: 100%;
}
.lodges .boxdiv {
	width: 100%;
}
section.lodges{
	height: 100%!important;
}

.section.rose{
	height: 100%!important;
}
.rose .col-6 {
    width: 100%;
}
	
	.boxdiv {
    
    width: 100%!important;
}			
.home-head {
    display: inline-block;
    padding: 45px;
    width: 100%;
    margin-left: 0;
    padding-top: 46px;
}
#header h1 {
    color: #282E3C;
    font-size: 37px!important;
    line-height: 1.2em;
    font-weight: 400;
    text-transform: uppercase;
    font-family: 'Poppins', sans-serif;
}
.home-head p {
    font-family: arial;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.summer .col-6 {
    width: 100%;
}
section.summer{
	height: 100%;
}

#footer .col-3 {
    width: 100%;
}

	header {
		margin: 0 0 1em 0;
	}

		header > p {
			display: block;
			font-size: 1.5em;
			margin: 1em 0 2em 0;
			line-height: 1.5em;
			text-align: inherit;
		}

	footer {
		margin: 2.5em 0 0 0;
	}

/* Image */

	.image {
		position: relative;
		display: inline-block;
		border: 0;
		outline: 0;
	}

		.image img {
			display: block;
			width: 100%;
		}

		.image.featured {
			display: block;
			width: 100%;
		}


	
.killen-head {
    background: #fff;
    min-height: 38em;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.nav-text{
	padding-top: 55px!important;
}

.booknow {
    display: inline-block;
    margin-top: 25px;
}
.booknow a {
    background: #C2A206;
    display: inline-block;
    padding: 10px 57px;
    color: #fff;
    font-size: 16px;
}
.booknow a:hover {
    background: #282E3C;
}
.seemore {
    display: inline-block;
    width: 100%;
    text-align: center;
}
.seemore a {
    background: #c2a206;
    padding: 15px 150px;
    display: inline-block;
    margin-bottom: 70px;
    margin-top: 25px;
    color: #fff;
}
.seemore a:hover {
    background: #162128;
    padding: 15px 150px;
    display: inline-block;
    margin-bottom: 70px;
    margin-top: 25px;
    color: #fff;
}

/* Nav */

	#nav {
		position: relative;
		top: 0;
		left: 0;
		width: 100%;
		text-align: left;
		padding: 1.5em 0 1.5em 0;
		z-index: 1;
	}

		#nav > ul {
			line-height: 0px;
			position: relative;
			display: inline-block;
			margin: 0;
			
		}

			#nav > ul > li {
				display: inline-block;
				padding: 0.59em;
				vertical-align: top;
			}

				#nav > ul > li.active {
					border-color: rgba(192, 192, 192, 0.35);
				}

				#nav > ul > li > a, #nav > ul > li > span {
					text-transform: uppercase;
                    display: block;
                    text-decoration: none;
                    border: 0;
                    outline: 0;
                    color: #282E3C;
                    font-family: 'Arial';
                    font-size: 16px;
				}

				#nav > ul > li > ul {
					display: none;
				}

	/* Banner */

	#banner {
		background: #303B42;
		text-align: center;
		padding: 5em 0 3em 0;
		margin-bottom: 0;
	}

section#banner h2 {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    text-transform: uppercase;
}
section#banner p {
    color: #fff;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    text-align: center;
    width: 44%;
    margin: 0 auto;
    line-height: 20px;
    margin-top: 15px;
}

/* Footer */
.ftrimg {
    width: 132px;
    height: 139px;
    background: url("../images/ftrimg.png");
    background-repeat: no-repeat;
}

.ftr {
    position: relative;
    background: #303B42;
    padding: 4em 0 0 1em;
    overflow: hidden;
    margin: 0px;
    font-family: 'Arial';
    font-size: 16px;
}

.ftr ul {

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 68px;
    color: #FFFFFF;
}

.ftr ul li a {
    color: #FFFFFF;  
}
	
	.ftr ul li {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    font-size: 12px;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    margin-bottom: 20px;
}

    span.txt {
		display: inline-block;
		width: 80%!important;
		vertical-align: top;
		line-height: 36px;
	}
	
/* Mobile */

	@media screen and (max-width: 737px) {

		/* Basic */

		.reslogo {
			width: 100%;
			text-align: center;
			display: inline-block;
		}
		.reslogo img {
			width: 40%!important;
			text-align: center;
		}

			html, body {
				overflow-x: hidden;
			}			
	}

body .slick-slide .slide-content {
  margin: 0 10px;
  background: #fff;
}
.slide-img img {
    max-width: 100%;
    width: 100%;
}
body .slick-list {
  margin: 20px 0px;
}
body .slick-prev,
body .slick-next {
    position: absolute;
    right: -2%;
    background: #fff;
    border: none;
    color: transparent;
    width: 60px;
    height: 60px;
    top: 34%;
    border-radius: 50%;
}

body .slick-next:before{
	content: "";
    background: url(../images/arrow-right.svg);
    width: 60px;
    height: 59px;
    background-repeat: no-repeat;
    position: absolute;
    right: -23px;
	top: 20px;
} 
body .slick-prev:before{
    content: "";
    background: url(../images/arrow-left.svg);
    width: 60px;
    height: 59px;
    background-repeat: no-repeat;
    position: absolute;
    left: 23px;
	top: 20px;
}
body .slick-prev {
  left: -2%;
}

body .slick-dots {
  list-style: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
body .slick-dots li {
  display: inline-block;
}
body .slick-dots li button {
    transition: 0.2s background-color ease-in-out 0s;
    border: none;
    padding: 0;
    color: transparent;
    width: 24px;
    height: 24px;
    background-color: transparent;
    margin-right: 10px;
    border-radius: 50%;
    border: 5px solid #162128;
}
body .slick-dots li.slick-active button {
  background-color:#C2A206;
}
.slide-img {
    display: inline-block;
    width: 100%;
}
.sliderdiv{
	background: #303B42;
	overflow: hidden;
}
.content-star {
    display: inline-block;
    padding: 20px;
    width: 100%;
}

.content-star p {
   font-family: 'Poppins', sans-serif;
    font-size: 15px;
    line-height: 1.3em;
    font-weight: 400;
}
.text-area-div {
       color: #181A22;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 18px;
    display: inline-block;
    width: 50%;
    line-height: 25px;
    min-height: 50px;
}
.stardiv {
   display: inline-block;
    text-align: right;
    position: relative;
    vertical-align: top;
    width: 48%;
}
span.ratediv {
    display: inline-block;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
span.stardivimg img {
    padding-top: 10px;
    position: absolute;
    right: 26px;
    top: -4px;
}

@media screen and (max-width: 736px) {
	.home-head {
    display: inline-block;
    padding: 45px;
    width: 100%;
    margin-left: 0;
    padding-top: 46px;
}
.stardiv {
    display: inline-block;
    text-align: right;
    position: relative;
    vertical-align: top;
    width: 57%;
}
.mapdiv {
    display: inline-block;
    padding-left: 20px;
    width: 40%;
    vertical-align: top;
    padding-top: 0px;
}
.book-now {
    display: inline-block;
    text-align: center;
    width: 100%;
}
.seemore a {
    background: #c2a206;
    padding: 15px 90px;
    display: inline-block;
    margin-bottom: 70px;
    margin-top: 25px;
    color: #fff;
}
.text-area-div {
    color: #181A22;
    font-family: 'Arial';
    font-weight: 700;
    font-size: 20px;
    display: inline-block;
    width: 100%;
    line-height: 25px;
    height: 50px;
}
.killen-head {
    background: #fff;
    min-height: 38em;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.boxdiv {
    display: inline-block;
    background: #fff;
    padding: 30px 30px;
    margin-top: 75px;
    width: 90%;
}
.booknow {
    display: inline-block;
    margin-top: 25px;
    width: 100%;
    text-align: center;
}
.book-now a {
    background: #090A16;
    display: inline-block;
    padding: 20px 55px;
    color: #C2A206;
    width: 100%;
}
}
